:root {
  --background: #ffffff;
  --logo-text: #000000;
  --main-h2h3: #212121;
  --hero-background: #2f303a;
  --main-text: #757575;
  --footer: rgb(255, 255, 255, 0.6);
  --accent: #2196f3;
  --section4-bckgnd: #f5f4fa;
  --header-border: #ececec;
  --projects-border: #eeeeee;
  --icon-unactive: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-h2h3);
  box-sizing: border-box;
}

/* -----------------------------------HEADER----------------------------------- */
.container {
  /* display: flex; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header-box {
  border-bottom: 1px solid var(--header-border);
}
.hdr {
  margin: 0 auto;
  display: flex;
}
.navigation-list .current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent);
  text-decoration: none;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo-hdr,
.logo-ftr {
  color: var(--accent);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-hdr {
  padding: 24px 0;
}
.navigation-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-h2h3);
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.navigation-list-items {
  display: flex;
  align-content: center;
  justify-content: center;
}
.navigation-list .navigation-list-items + .navigation-list-items {
  margin-left: 50px;
}

.contacts-list {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contacts-list-items {
  display: flex;
  align-content: center;
}

.contacts-list .contacts-list-items + .contacts-list-items {
  margin-left: 50px;
}
.contacts-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text);
  padding: 32px 0;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent);
}

.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
  align-self: center;
}
.icon-smartphone {
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}
.logo-studio {
  color: var(--logo-text);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.current:hover,
.current:focus,
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent);
}

/* -----------------------------------BODY----------------------------------- */

/* ---------------------------------- SECTION 1 ------------------------------ */
.hero {
  display: flex;
  background-color: var(--hero-background);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cont-hero {
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.section1-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn {
  font-family: Roboto;
  background-color: var(--accent);
  color: var(--background);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--accent);
  color: var(--background);
}

/* ---------------------------------- SECTION 2 ------------------------------ */
.icons-container {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--section4-bckgnd);
  margin-bottom: 30px;
  justify-content: center;
}
.icon-box {
  align-self: center;
}
.sec2-list-item {
  margin-right: 30px;
}
.sec2-list-item:last-child {
  margin-right: 0;
}
.section2-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section2-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.section2-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section2-list-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text);
}

/* ---------------------------------- SECTION 3 ------------------------------ */
.section3 {
  padding-top: 0;
}
.cont3 {
  flex-direction: column;
}
.section3-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}
.section3-list {
  display: flex;
  justify-content: center;
}
.section3-list .section3-list-item + .section3-list-item {
  margin-left: 30px;
}
.section3-list-item {
  list-style: none;
}
.section3-img {
  max-width: 100%;
  display: block;
  height: auto;
}
/* ------------------------------------ SECTION 4 ------------------------------ */
.section4 {
  background-color: var(--section4-bckgnd);
}
.cont4 {
  flex-direction: column;
}
.section4-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.section4-list {
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.section4-list-item {
  list-style: none;
  margin-right: 30px;
  background-color: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section4-list-item:last-child {
  margin-right: 0;
}
.section4-text {
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
.section4-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.section4-list-text {
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  justify-content: center;
  color: var(--main-text);
  margin-bottom: 16px;
}
.section4-img {
  max-width: 100%;
  display: block;
  height: auto;
}
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
}
/* -------------------------------------------------- */
.social-list-item {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-list-item:last-child {
  margin-right: 0;
}
.social-list-link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--icon-unactive);
  color: var(--background);
}
.social-icons {
  align-self: center;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent);
  border-radius: 50%;
  fill: currentColor;
}

/* --------------------------------------------------- */

/* ------------------------------------SECTION 5-------------------------------- */
.cont5 {
  flex-direction: column;
}

.section5-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.clients-list-items {
  display: flex;
  margin-right: 30px;
}
.clients-list-items:last-child {
  margin-right: 0;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  cursor: pointer;
  border: 1px solid var(--icon-unactive);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--icon-unactive);
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent);
  border: 1px solid var(--accent);
}

/* ------------------------------------ FOOTER --------------------------------- */
.foot {
  background-color: var(--hero-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.cont-ftr {
  display: flex;
  flex-direction: column;
}
.foot-adrs {
  text-decoration: none;
}
.foot-contacts {
  text-decoration: none;
}
.logo-studio-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--background);
}
.adrs {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--background);
}
.logo-ftr {
  margin-bottom: 20px;
  justify-content: baseline;
}
.foot-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.foot-list-item {
  margin-bottom: 9px;
}
.foot-list-item:last-child {
  margin-bottom: 0;
}
.foot-adrs {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--background);
}
.foot-adrs:hover,
.foot-adrs:focus,
.foot-adrs:active {
  color: var(--accent);
}

.foot-contacts {
  color: var(--footer);
}
.foot-contacts:hover,
.foot-contacts:focus,
.foot-contacts:active {
  color: var(--accent);
}
.basement {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.ftr-social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.ftr-social-title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: var(--background);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  justify-content: baseline;
}
.social-list-ftr {
  display: flex;
  align-content: center;
  justify-content: center;
  list-style: none;
}
.social-list-item-ftr {
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
}
.socia-link-ftr {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  fill: var(--background);
  color: var(--background);
}
.socia-link-ftr:hover,
.socia-link-ftr:focus {
  background-color: var(--accent);
  border-radius: 50%;
  fill: var(--background);
}
.social-list-item-ftr:last-child {
  margin-right: 0;
}
.social-icons-ftr {
  align-self: center;
}

/* --------------------------------------PORTFOLIO---------------------------------*/
.cont-portfolio {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*---------------------------------------- FILTERS ----------------------------------*/

.filters-list {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  list-style: none;
}
.filters-list .filters-list-items + .filters-list-items {
  margin-left: 8px;
}
.filters-list-button {
  font-family: Roboto;
  background-color: var(--section4-bckgnd);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}
.filters-list-button.active-button {
  color: var(--background);
  background-color: var(--accent);
}

.filters-list-button:hover,
.filters-list-button:focus,
.active-button:active {
  color: var(--background);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --------------------------------------- PROJECTS -------------------------------------*/
.projects-link {
  text-decoration: none;
  color: var(--main-h2h3);
}
.projects-link:focus .projects-list-item,
.projects-link:hover .projects-list-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.projects-list-item {
  border-bottom: 1px solid var(--projects-border);
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects-list-item:hover,
.projects-list-item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.projects-list-item:nth-child(3n) {
  margin-right: 0px;
}
.projects-text {
  padding: 20px 24px;
  border-bottom: 1px solid var(--header-border);
  border-left: 1px solid var(--header-border);
  border-right: 1px solid var(--header-border);
}
.projects-list-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-list-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text);
}
.projects-img {
  max-width: 100%;
  display: block;
  height: auto;
}
